#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 1;
}
#root1 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 1;
}
body {
  font-family: Arial, sans-serif;
}
h1 {
  margin: auto;
  padding: 0;
}
#h {
    font-size: 2.5em;
    line-height: 1;
}
form {
  max-width: 100%;
  margin: 2% auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="url"] {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
select {
  width: max-content;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
  -webkit-appearance: none;
}
input[type="name"] {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}